/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */

/************************************************************************
                                GENERAL
************************************************************************/

html, body{
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway',sans-serif;
}
p{
    font-family: 'Montserrat';
}

a,
a:hover,
a:focus{
    text-decoration: none;
}
section{
    background: #fff;
}


/************************************************************************
                            LINE ICON SETTING
************************************************************************/
[class*='lni-']{
    display: inline-block;
}

/* 
    NOTE: '*' - contains
          '^' - starts with
*/

/************************************************************************
                            HELPER CLASSES
************************************************************************/

.m-10{
    margin: 10px;
}
.m-30{
    margin: 30px;
}
.m-50{
    margin: 50px;
}
.m-70{
    margin: 70px;
}
.m-90{
    margin: 90px;
}
.m-100{
    margin: 100px;
}
.m-120{
    margin: 120px;
}

.m-t-10{
    margin-top: 10px;
}
.m-t-30{
    margin-top: 30px;
}
.m-t-50{
    margin-top: 50px;
}
.m-t-70{
    margin-top: 70px;
}
.m-t-90{
    margin-top: 90px;
}
.m-t-100{
    margin-top: 100px;
}
.m-t-120{
    margin-top: 120px;
}

.m-b-10{
    margin-bottom: 10px;
}
.m-b-30{
    margin-bottom: 30px;
}
.m-b-50{
    margin-bottom: 50px;
}
.m-b-70{
    margin-bottom: 70px;
}
.m-b-90{
    margin-bottom: 90px;
}
.m-b-100{
    margin-bottom: 100px;
}
.m-b-120{
    margin-bottom: 120px;
}

.m-auto{
    margin: 0 auto;
}

/************************************************************************
                            GENERAL BUTTONS SECTION
************************************************************************/

.btn-general{
    font-family: 'Raleway', sans-serif;
    border-radius: 30px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px;
    transition: all .5s;
}
.btn-green{
    color: #fff;
    background: #5c9320;
}

.btn-white{
    color: #212226;
    background: #fff;
}
.btn-green:hover,
.btn-green:focus,
.btn-white:hover,
.btn-white:focus{
    color: #fff;
    background-color: #212226;
}

.btn-gradient{
    color: #fff;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #5c9320 0%, #63c600 51%, #5c9320 100%);
}
.btn-gradient:hover,
.btn-gradient:focus{
    color: #fff;
    background-position: right;
}

/************************************************************************
                            GENERAL HEADING
************************************************************************/
.vertical-heading h5,
.horizontal-heading h5{
    color: #5c9320;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    word-spacing: 9px;
}

.vertical-heading h5{
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -55px;
}

.vertical-heading h2,
.horizontal-heading h2{
    font-size: 28px;
    font-weight: 100;
    line-height: 45px;
}
.vertical-heading h2{
    margin: 0 0 0 35px;
}
.highlight-heading{
    color: #5c9320;
    font-weight: 700;
}
.horizontal-heading h2{
    margin: 0;
}
.horizontal-heading h5{
    margin-bottom: 5px;
}
.horizontal-heading{
    text-align: center;
}

/************************************************************************
                            CONTENT BOX
************************************************************************/
.content-box-lg{
    padding: 120px 0;
}
.content-box-md{
    padding: 100px 0;
}
.content-box-sm{
    padding: 90px 0;
}

/************************************************************************
                            HOME SECTION
************************************************************************/

#home{
    height: 100vh;
    background: none;
}
#home-bg-video{
    position: fixed;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
/*    alternative fallback*/
    background: url("../video/video.jpg") no-repeat cover;
}

#home-overlay{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content{
    width: 100%;
    height: 100%;
    display: table;
    
}
#home-content-inner{
    display: table-cell;
    vertical-align: middle;
}
#home-heading{
    color: #fff;
    font-size: 5rem;
    font-weight: 100;
    text-transform: capitalize;
    margin: 0;
}
.colored-text{
    color: #5c9320;
    font-weight: 500;
}

#home-text{
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    margin: 10px 0 30px 0;
}
#arrow-down{
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    transform: translateX(-50%);
    z-index: 1;
    margin-left: 16px;
}
#arrow-down:hover,
#arrow-down:focus{
    color: #5c9320;
}

/************************************************************************
                            ABOUT SECTION
************************************************************************/

#about-02{
    background: #F4F4F4;
}

.about-item{
    background: #FFF;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.about-item i{
    font-size: 42px;
}
.about-item h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.about-item hr{
    width: 45px;
    background-color: #5c9320;
    height: 3px;
    margin: 0 auto 20px auto;
}

/*HOVER STATE*/

.about-item:hover{
    background-color: #5c9320;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}
.about-item:hover i,
.about-item:hover p,
.about-item:hover h3{
    color: #FFF;
}
.about-item:hover hr{
    background-color: #FFF;
}
.about-item:hover i{
    transform: translateY(-20px);
}

/*SMOOTH TRANSITION*/

.about-item p,
.about-item h3{
    transition: all .4s linear;
}
.about-item,
.about-item hr,
.about-item i{
    transition: all .4s ease-in-out;
}

/************************************************************************
                            LOADER
************************************************************************/

.loader{
    /*Make fullscrean*/
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    background: #5c9320;
    background: linear-gradient(to right, #5c9320 2%, #63c600 82%);
    z-index: 9999;
}

.loader-inner{
    position: absolute;
    top: 50%;
    left: 50%;
/*    background: #fff;*/
    width: 120px;
    height: 120px;
/*
    margin-top: -60px;
    margin-left: -60px;
*/
/*    if we dont know the width then use transform*/
    transform: translate(-50%, -50%);
}

.loader span{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 100%;
    display: block;
    position: absolute;
    animation: load 5s ease-in-out infinite;
    opacity: 0;
}

.loader-blocks{
    width: 60px;
    height: 60px;
}

.loader span.block-1{
    animation-delay: 1.06s;
    left: 0px;
    top: 0px;
}
.loader span.block-2{
    animation-delay: .97s;
    left: 16px;
    top: 0px;
}
.loader span.block-3{
    animation-delay: .88s;
    left: 32px;
    top: 0px;
}
.loader span.block-4{
    animation-delay: .79s;
    left: 48px;
    top: 0px;
}
.loader span.block-5{
    animation-delay: .7s;
    left: 0px;
    top: 16px;
}
.loader span.block-6{
    animation-delay: .61s;
    left: 16px;
    top: 16px;
}
.loader span.block-7{
    animation-delay: .52s;
    left: 32px;
    top: 16px;
}
.loader span.block-8{
    animation-delay: .43s;
    left: 48px;
    top: 16px;
}
.loader span.block-9{
    animation-delay: .34s;
    left: 0px;
    top: 32px;
}
.loader span.block-10{
    animation-delay: .25s;
    left: 16px;
    top: 32px;
}
.loader span.block-11{
    animation-delay: .16s;
    left: 32px;
    top: 32px;
}
.loader span.block-12{
    animation-delay: .07s;
    left: 48px;
    top: 32px;
}
.loader span.block-13{
    animation-delay: -0.02s;
    left: 0px;
    top: 48px;
}
.loader span.block-14{
    animation-delay: -.11s;
    left: 16px;
    top: 48px;
}
.loader span.block-15{
    animation-delay: -0.22s;
    left: 32px;
    top: 48px;
}
.loader span.block-16{
    animation-delay: -.31s;
    left: 48px;
    top: 48px;
}

@keyframes load{
    0%{
        opacity: 0;
        transform: translateY(-95px);
    }
    15%{
        opacity: 0;
        transform: translateY(-95px);
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    70%{
        opacity: 1;
        transform: translateY(0);
    }
    85%{
        opacity: 0;
        transform: translateY(95px);
    }
    100%{
        opacity: 0;
        transform: translateY(95px);
    } 
}

/*
author: Raj
@keyframes load{
    0%{
        opacity: 0;
        transform: translateY(-95px);
    }
    15%{
        opacity: 1;
        transform: translateY(0);
    }
    30%{
        opacity: 1;
        transform: translateY(-95px);
    }
    70%{
        opacity: 1;
        transform: translateY(0);
    }
    85%{
        opacity: 1;
        transform: translateY(-95px);
    }
    100%{
        opacity: 0;
        transform: translateY(95px);
    } 
}
*/















